body {
	margin:0;
	padding-left: 50px;
	font-family: 'Open Sans', Verdana;
	font-size: 16px;
	color:#000;
	min-width:1010px;
	text-align:left;
	background:#fff;
}

input, button{
	font-family: 'Open Sans', Verdana;
	font-size: 16px;
	vertical-align: middle;
}

h1{
	font-size: 24px;
	text-shadow:0 0 3px #FF0000;
}

h3{
	text-shadow:0 0 1px #0000FF;
}

h4{
	text-shadow:0 0 2px #00FF00;
}

div{
	margin: 10px 0 0 0;
}

table{
	margin: 0 0 20px 0;
    width: 100%;
}

table tr th{
	width: 100px;
	text-align: left;
}

#save-form{
	display:inline;
  margin: 0 20px 0 0;
}

.version{
	font-size: 10px;
	position: relative;
	left:0px;
	top: -10px;
}

.left-label{
	width: 180px;
	display: inline-block;
}

.text-input{
	width: 300px;
}

.url-input{
  width: 500px;
}

.select-input{
	font-family: 'Open Sans', Verdana;
	font-size: 16px;
	width: 280px;
}

.title-text{
	font-weight: bold;
}

.page-list-section{
	width: 60%;
	height: 150px;

}

.page-section{
	width: 60%;
	height: 220px;

}

.element-section{
	width: 100%;
	margin: 0 0 20px 40px;
	/*border-style:solid;
	border-width:1px;*/
}

/* Flat UI */
.btn {
  border: none;
  background: #bdc3c7;
  color: #ffffff;
  padding: 9px 12px 10px;
  line-height: 22px;
  text-decoration: none;
  text-shadow: none;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: 0.10s;
  -moz-transition: 0.10s;
  -o-transition: 0.10s;
  transition: 0.10s;
  -webkit-backface-visibility: hidden;
}
.btn:hover,
.btn:focus,
.btn-group:focus .btn.dropdown-toggle {
  background-color: #cacfd2;
  color: #ffffff;
  outline: none;
  -webkit-transition: 0.10s;
  -moz-transition: 0.10s;
  -o-transition: 0.10s;
  transition: 0.10s;
  -webkit-backface-visibility: hidden;
}
.btn:active,
.btn-group.open .btn.dropdown-toggle,
.btn.active {
  background-color: #a1a6a9;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn.disabled,
.btn[disabled] {
  background-color: #bdc3c7;
  color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  opacity: 0.7;
  filter: alpha(opacity=70);
}
.btn.btn-primary {
  background-color: #1abc9c;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus,
.btn-group:focus .btn.btn-primary.dropdown-toggle {
  background-color: #48c9b0;
}
.btn.btn-primary:active,
.btn-group.open .btn.btn-primary.dropdown-toggle,
.btn.btn-primary.active {
  background-color: #16a085;
}
.btn.btn-info {
  background-color: #3498db;
}
.btn.btn-info:hover,
.btn.btn-info:focus,
.btn-group:focus .btn.btn-info.dropdown-toggle {
  background-color: #5dade2;
}
.btn.btn-info:active,
.btn-group.open .btn.btn-info.dropdown-toggle,
.btn.btn-info.active {
  background-color: #2c81ba;
}
/* End Flat UI */

/* Global Messages  */
.success { color:#3d6611; font-weight:bold; }
.error { color:#df280a; font-weight:bold; }
.notice { color:#e26703; }
.success-msg { border-color:#446423; background-color:#eff5ea; color:#3d6611; }
.error-msg { border-color:#f16048; background-color:#faebe7; color:#df280a; }
.note-msg, .notice-msg {
  background-color: #F5F6F8;
  border-color: #EAEAEA;
  color: #8E8E8E;
}
